.large-text {
  font-size: 38px;
}
.medium-large-text {
  font-size: 30px;
}
.medium-text {
  font-size: 24px;
}
.page-header {
  margin-top: 15px;
}
.product-image {
  max-width: 90%;
}
.product-image-holder {
  max-width: 19.7%;
  display: inline-block;
}
.no-left-padding {
  padding-left: 10px;
}
.margin-top {
  margin-top: 10px;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}